html
    head
        meta(
            name="viewport" content="width=device-width, initial-scale=1.0"
        )
        title= title
        link(href='/stylesheets/style.css' rel='stylesheet'
            type='text/css')
    body(class='flex-container')
        DIV(class='dbstatus-parent')
            DIV(class='dbstatus-success') Database Status
            if dbStatus == 'pingfailed'
                DIV(class='dbstatus-failed', id='dbstatus_id') #{dbStatus}
            else
                DIV(class='dbstatus-success' id='dbstatus_id') #{dbStatus}
        DIV
            BUTTON(class='dbcheck', type='button', onclick="fetch('/dbstatus').then(response => response.json()).then(data => {alert(JSON.stringify(data));document.querySelector('#dbstatus_id').innerHTML = data.pingstatus;})") Check
        DIV
            H1(class='h1_class') #{message}
        DIV
            button(id='id_fetch_pokemon1') Fetch pokemon1
            pre()
                textarea(id="id_results")
            pre()
                textarea(id="id_poke_prop")
            script(type="module").
                let modulep = await import('/fetchpokapi_ecmascriptmodule.js');
                async function onInputClick(e) {
                    e.preventDefault();
                    alert("onInputClick:start");
                    e.stopPropagation();
                    alert("pokemon: before");
                    let response_pokemon1 = await modulep.pokemon1();
                    alert("Before response_pokemon1.json()");
                    let rpokemon1 = await response_pokemon1.json();
                    alert("rpokemon1="+rpokemon1);
                    // alert("JSON.stringify(rpokemon1)="+JSON.stringify(rpokemon1));
                    document.querySelector('#id_results').innerHTML = JSON.stringify(rpokemon1, undefined, 8);
                    /* innerText does not work; use innerHTML */
                    let pPokemon1 = modulep.propertiesOf(rpokemon1);
                    let reducer = function(acc, curVal, curInd, srcArr) {
                        return acc + curVal + '&#13;&#10;';
                    };
                    let propHTML = pPokemon1.reduce(reducer,'');
                    document.querySelector('#id_poke_prop').innerHTML = propHTML;
                    alert("onInputClick:end");
                }
                document.querySelector('#id_fetch_pokemon1').addEventListener('click', onInputClick);
